.main{
    height: auto;
    width: 800px;
    border: 2px solid black;
    margin-left: 180px;
    background-color: rgb(127, 255, 153);


}

nav{
    width: 51%;
    background-color: black;
    color: white;
    position: fixed;
    top: 0%;
    margin-top: 11px;
    margin-bottom: 20px;
    height: 30px;
    padding-top: 15px;
    margin-left: 37px;
}
a{
    color: white;
    font-size: 19px;
    margin-top: 12px;
    margin-left: 60px;
}



.p{
    border: 2px solid white;
    width: 45px;
    margin-left: -10%;
    position: sticky;
    top: 70px;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 17px;
    
}

.content{
    padding-top: 15px;
    font-size: 25px;
}

